 div.container {
    width:98%; 
    margin:1%;
  }
  
  img{
        max-width: 50%;
        max-height: 50%;
        display: block; /* remove extra space below image */
    }

  tr,td, {text-align:center;}
