<mat-card-header>
  <mat-toolbar class="toolbar">
    <mat-card-title>Add Member To Group</mat-card-title>
    <span class="toolbar-spacer"></span>
    <mat-icon (click)="onNoClick()">cancel</mat-icon>
  </mat-toolbar>
</mat-card-header>
<mat-card-content>
  <div class="login-page">
    <form [formGroup]="memberForm" (submit)="onSubmit()">
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <label>Group Id</label>
            <input type="text" formControlName="id" class="form-control" readonly="isReadOnly">
          </div>
          <div class="col-md-6">
            <label>User Ids'</label>
            <!--<input type="text" formControlName="username" class="form-control">-->
            <div style="width:100px;">
            <select formControlName="user_id" >
            	<option *ngFor = "let uid of user_id" [value]="uid">{{uid}}</option>
            </select>
			</div>
          </div>
          <div class="row">
          <div class="col-md-6">
          <button type="submit" class="btn btn-success">
            <mat-icon>save</mat-icon>
          </button>
          </div>
        </div>
      </div>
  </div>
</form>
</div>
</mat-card-content>
