<h1>
      User Access Management Portal
    </h1>
    <mat-toolbar color="primary">
      <span>
       <img  src="./assets/image/access_logo.png"  style="width:110px;">
      </span>
      <button mat-button [routerLink]="['home']" routerLinkActive="active-link" >Home</button>
      <button mat-button [routerLink]="['add/user']">Add User</button>
      <button mat-button [routerLink]="['display/user']">Display All</button>
      <button mat-button [routerLink]="['search/user/:id']">Search</button>
      <button mat-button [routerLink]="['edit/user/:id']">Update</button>
      <button mat-button [routerLink]="['delete/user/:id']">Delete</button>    
    </mat-toolbar>
    <router-outlet></router-outlet>
  
