<h3>Academic Qualifications</h3>
	<table>
		<tr>
			<td>Qualification</td>
			<td>School/College</td>
			<td>Board/University</td>
			<td>Year of Passing</td>
			<td>Percentage/Status</td>
		</tr>
		<tr>
			<td>M.C.A.</td>
			<td>Department of Computer Science</td>
			<td>Savitribai Phule Pune University, Pune, Maharastra</td>
			<td>2020</td>
			<td>7.55 (CGPA)</td>
		</tr>
		<tr>
			<td>B.Sc.(VOC) IT</td>
			<td>Jamshedpur Women’s College, Bistupur</td>
			<td>Kolhan University,Chaibasa, Jharkhand</td>
			<td>2016</td>
			<td>81.81</td>
		</tr>
		<tr>
 			<td> 12th</td>
			<td>Jamshedpur Women’s College, Bistupur</td>
			<td>Jharkhand Academic Council, Ranchi, Jharkahnd</td>
			<td>2013</td>
			<td>66.00</td>
		</tr>
		<tr>
			<td> 10th</td> 
			<td>Indira Vidya Jyoti High School, Bagbera</td>
			<td>Jharkhand Academic Council, Ranchi, Jharkahnd</td>
			<td>2011</td>
			<td>81.80</td>
		</tr>
	</table>
	<hr/>
