<style>
#user {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#user td, #user th {
  border: 1px solid #ddd;
  padding: 8px;
}

#user tr:nth-child(even){background-color: #f2f2f2;}

#user tr:hover {background-color: #ddd;}

#user th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: gray;
  color: white;
}
</style>


<form>
  <input type="text" name="search" id="search" placeholder="Search User By Id..." >
  <input type="submit">
</form>


<table id="user">
  <tr>
    <th>Profile</th>
    <th>Id</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <!--<th>Password</th>-->
    <th>Contact Number</th>
    <!--<th>Updated By</th>-->
  </tr>
  <tr>
    <td><img src="../../../assets/image/profile.png"></td>
    <td>{{user?.id}}</td>
    <td>{{user?.first_name}}</td>
    <td>{{user?.last_name}}</td>
    <td>{{user?.email}}</td>
    <!--<td>{{usr?.password}}</td>-->
    <td>{{user?.contact_number}}</td>
    <!--<td>{{usr?.updated_by}}</td>-->
  </tr>
</table>

