<app-header></app-header>
<div class="login-page">
    <mat-card class="mat-elevation-z12">
        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
            <mat-tab label="Group Info">
                <mat-card-content>
                    <form>
                        <mat-form-field>
                            <input matInput placeholder="Group Name" [(ngModel)]="groupname" name="groupname" required>
                        </mat-form-field>
                         <button mat-raised-button color="primary" class="login-button" (click)="creategroup()">
                Create
              </button> 
              <button mat-raised-button color="warn" class="login-button" (click)="cancel()">
                Cancel
              </button>
                    </form>
                </mat-card-content>
            </mat-tab>


        </mat-tab-group>

    </mat-card>
</div>
