h3{
	font-family: "Comic Sans MS", cursive, sans-serif,italic;
	color: blue;
	/*background-color:lightgreen;*/
	text-align:center;
}

h1{
	font-family: sans-serif,italic;
	color: white;
	background-color:darkgreen;
	text-align:center;
}

#myDIV {
	background: white;
	animation: mymove 10s infinite;
}

@keyframes mymove {
	  50% {background-color: green;}
}

.dropbtn {  
	    background-color: #4CAF50;    
		color: white;    
		padding: 30px;    
		font-size: 16px;    
		border: none;    
}
