<div id=myDIV>
<h1> Resume </h1><hr/>
<h3>  Sweta Kumari </h3><hr/>
<button class="dropbtn"><a routerLink="/contact">About</a></button>
<button class="dropbtn"><a routerLink="/career-objective">Career Objective</a></button>
<button class="dropbtn"><a routerLink="/academic-qualification">Academic Qualifications</a></button>
<button class="dropbtn"><a routerLink="/experience">Experience</a></button>
<button class="dropbtn"><a routerLink="/skills">Skills</a></button>
<button class="dropbtn"><a routerLink="/project-and-assignment">Projects & Assignments</a></button>
<button class="dropbtn"><a routerLink="/hobbies">Hobbies</a></button>
</div>
