<div class="login-page">
    <mat-card class="mat-elevation-z12">
        <mat-card-title style="text-align:center;">User Form</mat-card-title>
        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
            <mat-tab label="Sign In">
                <mat-card-content>
                    <form action="">
                        <mat-form-field>
                            <input matInput placeholder="FirstName" required name="FirstName" ngModel #email="ngModel">

                            <mat-icon matSuffix>FirstName</mat-icon>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="LastName" required name="LastName" ngModel #email="ngModel">

                            <mat-icon matSuffix>LastName</mat-icon>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="UserName" required name="UserName" ngModel #email="ngModel">
                            <mat-error *ngIf="email.invalid">Email is required</mat-error>
                            <mat-icon matSuffix>email</mat-icon>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput placeholder="Password" type="password" required minlength="6" name="password" ngModel #password="ngModel">
                            <mat-error *ngIf="password.errors && password.errors.required">
                                Password is required
                            </mat-error>
                            <mat-error *ngIf="password.errors && password.errors.minlength">
                                Password must be of length 6
                            </mat-error>

                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Confirm Password" type="password" required minlength="6" name="password" ngModel #password="ngModel">
                            <mat-error *ngIf="password.errors && password.errors.required">
                                Password is required
                            </mat-error>
                            <mat-error *ngIf="password.errors && password.errors.minlength">
                                Password must be of length 6
                            </mat-error>

                        </mat-form-field>
                        <mat-radio-group><br> Is Sudo:<br>

                            <mat-radio-button value="A">Yes</mat-radio-button>&emsp;&emsp;


                            <mat-radio-button value="N">No</mat-radio-button>

                        </mat-radio-group>

                        <a routerLink="/registration"> <button mat-raised-button color="primary" class="login-button">
                Log In
                

              </button></a>


                        <button mat-raised-button class="login-button">
                Update
              </button>
                        <a routerLink="/registration"> <button mat-raised-button color="warn" class="login-button">
                Cancel
                

              </button></a>
                    </form>
                </mat-card-content>
            </mat-tab>


        </mat-tab-group>

    </mat-card>
</div>