<app-header></app-header>
<div class="login-page">
    <mat-card class="mat-elevation-z12">
        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
            <mat-tab label="User Details">
                <mat-card-content>
                    <form action="">
                        <mat-form-field>
                            <input matInput placeholder="First name" [(ngModel)]="firstname" name="firstname" required>

                            <mat-icon matSuffix>FirstName</mat-icon>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="LastName" [(ngModel)]="lastname" name="lastname" required>

                            <mat-icon matSuffix>LastName</mat-icon>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Email" [(ngModel)]="email" name="email"required>
                            
                            <mat-icon matSuffix>email</mat-icon>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="User Name" [(ngModel)]="username" name="username"required>
                            
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput placeholder="Password" type="password"  minlength="6" [(ngModel)]="password" name="password" required >
                            
                        </mat-form-field>
                        <mat-radio-group><br> Is Sudo:<br>

                            <mat-radio-button value="A">Yes</mat-radio-button>&emsp;&emsp;


                            <mat-radio-button value="N">No</mat-radio-button>

                        </mat-radio-group>

                         <button mat-raised-button color="primary" class="login-button" (click)="create()">
                Create
                

              </button>


                        <button mat-raised-button class="login-button" (click)="update()">
                Update
              </button>
                         <button mat-raised-button color="warn" class="login-button" (click)="cancel()">
                Cancel
                

              </button>
                    </form>
                </mat-card-content>
            </mat-tab>


        </mat-tab-group>

    </mat-card>
</div>