<div class="container">
  <form action="action_page.php">
    <div class="row">
      <div class="col-25">
        <label for="fname">First Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="firstname" placeholder="Enter your first name..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname">Last Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="lname" name="lastname" placeholder="Enter your last name..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="email">Email</label>
      </div>
      <div class="col-75">
        <input type="text" id="email" name="email" placeholder="Enter your Email..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="contact">Contact Number</label>
      </div>
      <div class="col-75">
        <input type="text" id="contact" name="contact" placeholder="Your contact Number..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="password">password</label>
      </div>
      <div class="col-75">
        <input type="password" id="password" name="passord" placeholder="Enter your passord..">
      </div>
    </div>   
    <div class="row">
      <input type="submit" value="Submit">
    </div>
  </form>
</div>