<!--</mat-card-content>
<div class="login-page">
    <mat-card class="mat-elevation-z12">
        <mat-card-title style="text-align:center;">Resource Form</mat-card-title>
        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
            <mat-tab label="Resource Info">
                <mat-card-content>
                    <form action="">
                      <textarea ng-model="fileContent" #content>{{fileContent}}</textarea>
                         <button mat-raised-button color="primary" (click)="update(content.value)"class="login-button">
                Update
                

                     </button>

                    </form>
                </mat-card-content>
            </mat-tab>


        </mat-tab-group>

    </mat-card>
</div>
-->

<mat-card-header>
  <mat-toolbar class="toolbar">
    <mat-card-title>Resource Info</mat-card-title>
    <span class="toolbar-spacer"></span>
    <mat-icon (click)="onNoClick()">cancel</mat-icon>
  </mat-toolbar>
</mat-card-header>

<mat-card-content>
  <div class="login-page">
    <form [formGroup]="resourceForm" (submit)="onSubmit()">
      <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label>
                        Resource Type
                    </label>
                    <div style="width:100px;">
                    <select formControlName="rtype" >
                        <option *ngFor = "let rt of rtype" [value]="rt" >      
                            {{rt}}    
                        </option>
                    </select>
                </div>
                </div>
                <div class="col-md-6">
                    <label>
                        Parent Id
                    </label>
                <input type="text" formControlName="prnt_id" class="form-control" readonly="isReadOnly">
          </div>
          </div>
          <div class="row">
          <div class="col-md-6">
            <label>Path</label>
            <input type="text" formControlName="rpath" class="form-control" readonly="isReadOnly">
          </div>
          <div class="col-md-6">
            <label>File/Folder Name</label>
            <input type="text" formControlName="rname" class="form-control">
          </div>
        </div>
          <div class="row">
            <div class="col-md-6">
                <label>Owner</label>
              <input type="text" formControlName="owner" class="form-control" readonly="isReadOnly">
            </div>
          <div class="col-md-6">
          <button type="submit" class="btn btn-success">
            <mat-icon>save</mat-icon>
          </button>
          </div>
        </div>
      </div>
  </form>
  </div>
</mat-card-content>


<!--
<mat-card-header>
  <mat-toolbar class="toolbar">
    <mat-card-title>Resource Detail</mat-card-title>
    <span class="toolbar-spacer"></span>
    <mat-icon (click)="onNoClick()">cancel</mat-icon>
  </mat-toolbar>
</mat-card-header>
<mat-card-content>
  <div class="login-page">
    <form [formGroup]="resourceForm" (submit)="onSubmit()">
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <label>Parent Id</label>
            <input type="text" formControlName="id" class="form-control" readonly="isReadOnly">
          </div>
          <div class="col-md-6">
            <label>Resou</label>
            <input type="text" formControlName="username" class="form-control">
          </div>
      </div>
        <div class="row">
          <div class="col-md-6">
            <label>First Name</label>
            <input type="text" formControlName="first_name" class="form-control">
          </div>
          <div class="col-md-6">
            <label>Last Name</label>
            <input type="text" formControlName="last_name" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>Password</label>
            <input type="password" formControlName="password" class="form-control">
          </div>
          <div class="col-md-6">
            <label>Email</label>
            <input type="text" formControlName="email" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
          <button type="submit" class="btn btn-success">
            <mat-icon>save</mat-icon>
          </button>
          </div>
        </div>
    </div>
</form>
</div>
</mat-card-content>
-->