<h3>Experience</h3>
	<ul>
		<li>NOMURA Services India Pvt. Ltd.( Intern )
		(3rd June 2019- 22nd  Nov 2019)</li>
		<ul>
			<li>I have done internship in NOMURA. I was working in Python and Java.</li>
			<li>Given PoC, Desgined and implemented phase 0 of KPI over GitLab for Senior Exceutives Management.</li>
			<li>Developed a deamon process which integrated with ServiceNow to resolve GitLab Internal issues request.</li>
			<li>Wrote Python script to perform one way Syncing from source to destination instance of internal resource structure.</li>
			<li>DART Reconcilation report generation of Gitlab for auditing purpose and also worked on LDAP.  </li>
			<li>Wrote Python Script to revoke access of inactive users (who left org/firm) from gitlab groups.</li>
		</ul>
  
		<li>JUSCO ( Student Intern )
		(29th Sep 2015 – 29th Oct 2015)</li>
		<ul>
			<li>	I was assigned with project entitled “FILE MANAGEMENT SYSTEM” (UI based database 	application in Visual Basic for office files physical location tracking).</li>
		</ul>
	</ul>
<hr/>