<div style="background-image: url('../../../assets/image/background.jpg');">

  <h4 style="text-align:center;color:white">User Update Form</h4><hr/>
  <form >
      <div class="row">
        <div class="col-25">
          <label for="fname" style="text-align:left;color:white;">First Name</label>
        </div>
        <div class="col-75">
        <input type="text" id="fname" name="firstname"  placeholder="Enter your first name..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname" style="text-align:left;color:white;">Last Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="lname" name="lastname" placeholder="Enter your last name..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="email" style="text-align:left;color:white;">Email</label>
      </div>
      <div class="col-75">
        <input type="text" id="email" name="email" placeholder="Enter your Email..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="contact" style="text-align:left;color:white;">Contact Number</label>
      </div>
      <div class="col-75">
        <input type="text" id="contact" name="contact" placeholder="Your contact Number..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="password" style="text-align:left;color:white;">password</label>
      </div>
      <div class="col-75">
        <input type="password" id="password" name="passord" placeholder="Enter your password..">
      </div>
    </div>   
    <div class="row">
      <input type="submit" value="Submit" onclick="">
    </div>
  </form>

</div>