input[type=text] {
  
  width: 30%;
  font-size:14px;
  padding: 10px 15px;
  margin-top:20px;
  margin-bottom:auto;
  margin-left:auto; 
  margin-right:auto;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid red;

}

form{
text-align: center;
}