<h3>Projects & Assignments</h3>

	<ul>
		<li>First Pass of Compiler - In C using YACC and LEX, implemented frontend of compiler for a language which is a subset of C.</li>
		<li>Parser In Haskell -  Parser in Haskell for a language.</li>
		<li>ASSEMBLER  - Assembler with some mnemonics (x86-32 bit instructions) support in python with smaco support.</li>
		<li>MANUFACTURING UNIT OPERATOR PERFORMANCE TRACKING DATABASE -A database for tracking operator performance of a manufacturing unit against company policy in Sqlite3.</li>
		<li>VIRTUAL FILE-SYSTEM -Implemented virtual file system in C(Work is in progress).</li>
	</ul>
	<hr/>

